@model Typo.Model.Models.Account
<div class="page-header">
    <h1>Register <small>to get access to the website</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-lg-12">
                <form method="post">
                    <div class="well">
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-home fa-1x" style="line-height: 6%; color: #339966"></i> FirstName:</h3> *@
                            @Html.LabelFor(Model => Model.username)
                            @Html.EditorFor(Model => Model.username)
                            @Html.ValidationMessageFor(Model => Model.username)
                        </div>
                        <div class="form-group">
                            @* <h3 style="line-height: 20%;"><i class="fa fa-envelope fa-1x" style="line-height: 6%; color: #339966"></i> LastName:</h3> *@
                            @Html.LabelFor(Model => Model.password)
                            @Html.EditorFor(Model => Model.password)
                            @Html.ValidationMessageFor(Model => Model.password)
                        </div>
                        <button class="btn btn-info" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
