@using Typo.Model.Models
@model List<Typo.Model.Models.Account>
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<form method="post">
    <div class="well">
        <div class="form-group">
            <table>
                <tr>
                    <th>UserId</th>
                    <th>MailUser</th>
                    <th>Password</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>BirthDate</th>
                    <th>Docent</th>
                    <th>Admin</th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
            <tr id="userRow-@Model[i].UserId">
                @*@Html.HiddenFor(model => d.UserId);*@
                <input asp-for="UserId" name="UserId" id="UserId" type="number" value="@Model[i].UserId" hidden />
                <td>@Model[i].UserId</td>
                <td>@Model[i].MailUser</td>
                <td>@Model[i].Password</td>
                <td>@Model[i].FirstName</td>
                <td>@Model[i].LastName</td>
                <td>@Model[i].BirthDate</td>
                <td>@Model[i].IsDocent</td>
                <td>@Model[i].IsAdmin</td>

                <td>
                    <input id="delete-@Model[i].UserId" name="UserId" type="submit" value="DELETE!" />
                </td>
            </tr>
                }
                @*@foreach (Account d in Model)
                {
            
                   
                }*@
            </table>
        </div>

    </div>
</form>

