@using Typo.Model.Models
@model List<Typo.Model.Models.Account>
@{
    ViewBag.Title = "Admin";
}

<head>
    <link rel="stylesheet" href="~/styles/admin.css">
</head>

<a href='@Url.Action("Index", "Home")'><button id="button2">Ga terug naar de hoofdpagina</button></a>
<h1>Admin</h1>

<div class="admin-container">
    <div class="admin-table">
        <table>
            <tr class="table-names">
                <th>User ID</th>
                <th>E-mail</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Teacher</th>
                <th>Admin</th>
                <th>Delete</th>
            </tr>
            @foreach (var d in Model)
            {
                <form id="deleteAccount" method="post">
                    <tr id="userRow-@d.UserId">
                        <input asp-for="UserId" name="UserId" type="number" value="@d.UserId" hidden />
                        <td>@d.UserId.</td>
                        <td>@d.MailUser</td>
                        <td>@d.Password</td>
                        <td>@d.FirstName</td>
                        <td>@d.LastName</td>
                        <td>@d.BirthDate</td>
                        <td class="table-spacing">@d.IsDocent</td>
                        <td class="table-spacing">@d.IsAdmin</td>
                        @*<td>
                                <button onclick="DeleteRow('@Model[i].UserId')" id="delete-@Model[i].UserId" type="submit">DELETE!</button>
                            </td>*@
                        <td>
                            <button id="delete-@d.UserId" type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </form>
            }
        </table>
    </div>
</div>