@using System.ComponentModel
@using Newtonsoft.Json
@using Typo.Model.Models
@model Typo.Model.Models.Account
@{
    ViewBag.Title = "Home Page";
}
@{
    string Welcome = "welcome, ";
    string firstName = "";
    string lastName = "";
    var adminLogin = 0;
    var licensekey = "";
    if (Request.Cookies["UserInfo"] != null)
    {
        var user = JsonConvert.DeserializeObject<Account>(Request.Cookies["UserInfo"].Value);
        firstName = user.FirstName;
        adminLogin = user.IsAdmin;
    }
}



<head>
    @*<title>TYPO</title>
        <link rel="stylesheet" href="/styles/index.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
        <script src="/Scripts/jquery-3.3.1.min.js"></script>
        <script src="/Scripts/main.js"></script>*@
    <link rel="stylesheet" href="/styles/index.css">
</head>

<nav>
    <div id="sidebar">
        <a href='@Url.Action("Index", "Home")'><img id="logo" src="~/images/logo.png" /></a>

        <ul>
            <div class="logged-user">
                <li>
                    @if (firstName != "")
                    {<h1 class="welcome-font"> Welcome, @firstName</h1>}
                </li>
            </div>
            <li><a href="#about">Over ons</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#benefits">Voordelen</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>@Html.ActionLink("Games", "Games", "Home")</li>
            @if (adminLogin != 0)
            {
                <li><a class="login-form1">@Html.ActionLink("ADMIN!", "Admin", "Home")</a></li>

            }
            else
            {
                <li><a class="login-form1">@Html.ActionLink("Koop nu", "Purchase", "Home")</a></li>
            }

            @if (firstName == "")
            {
                <li><a href="#" id="login">Account</a></li>
            }
            else
            {
                <li><a class="login-form1">@Html.ActionLink("Check je licentie", "CheckLicense", "License")</a></li>
                <li><a class="login-form1">@Html.ActionLink("Log uit", "LogOut", "Account")</a></li>
            }
            <div class="login-form">
                <form id="login-form-id" method="post">
                    <label>E-mail</label>
                    <div>
                        <input name="MailUser" type="text" placeholder="Vul e-mail adres in" required />
                    </div>
                    <label>Wachtwoord</label>
                    <div>
                        <input name="Password" type="password" placeholder="Vul wachtword in" required />
                    </div>
                    <div>
                        <input type="submit" value="Log in" />
                    </div>
                    <div class="register">
                        @*<a href="register.cshtml">Geen account? Registreer hier</a>*@
                        <a> @Html.ActionLink("Geen account? Registreer hier", "Register", "Account")</a>
                    </div>
                </form>
            </div>
        </ul>
    <div id="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
</nav>
<div class="header">
    <img class="header-logo" src="~/images/logo.png">
</div>

<div class="header-transition">
    <div class="transition-img-1">
        <div class="transition-img-container">
            <img class="transition-img" src="~/images/transition-image3.jpg">
        </div>
    </div>
    <div class="transition-img-2">
        <div class="transition-img-container">
            <img class="transition-img" src="~/images/transition-image2.jpg">
        </div>
    </div>
    <div class="transition-img-3">
        <div class="transition-img-container">
            <img class="transition-img" src="~/images/transition-image1.jpg">
        </div>
    </div>
</div>

<div id="about" class="about-container">
    <div class="about-line"></div>
    <div class="about-h2">
        <h2>OVER ONS</h2>
    </div>
    <div class="about-h1">
        <h1>Wij zijn TYPO – een bedrijf dat typ cursussen ontwikkelt, gericht op het maken van educatieve videogames  voor zowel professioneel als privégebruik.</h1>
    </div>
    <div class="about-text1">
        <p>Onze games gaan zowel kinderen als volwassen de vaardigheid van blind typen leren, een noodzaak in de digitale samenleving van vandaag.</p>
    </div>
    <div class="about-text2">
        <p>Ons doel is om producten te hebben die geschikt zijn voor alle leeftijdsgroepen, waardoor leren een plezierige ervaring voor zowel u als uw kinderen wordt.</p>
    </div>
</div>

<div id="features" class="features-container">
    <div class="features-block">
        <h3>TYPO biedt een typ cursus aan voor jong en oud.</h3>
    </div>
    <div class="features-img-container1">
        <img class="features-img" src="~/images/adjust.png">
    </div>
    <div class="features-text1">
        <h1>01.</h1>
        <h2>niveaus</h2>
        <p>Nog nooit leren typen?<br> Geen probleem! In onze games heb je keuze uit meerdere moeilijkheden en typsnelheden, zo kun je een passend niveau uitkiezen.</p>
    </div>
    <div class="features-img-container2">
        <img class="features-img" src="~/images/choices.png">
    </div>
    <div class="features-text2">
        <h1>02.</h1>
        <h2>varianten</h2>
        <p>Voor ons is het belangrijk dat onze spellen uitdaging en plezier voor alle leeftijden bieden. Probeer het spel uit dat het beste bij je past en leer zo gemakkelijk blind te typen.</p>
    </div>
</div>

<div id="benefits" class="benefits-container">
    <div class="benefits-line"></div>
    <div class="benefits-h2">
        <h2>VOORDELEN</h2>
    </div>
    <div class="benefits-h1">
        <h1>Wat zijn de voordelen van TYPO?</h1>
    </div>
    <div class="benefits-under">
        <p>Bij TYPO hebben wij een missie en deze begint bij onze drie I's:<br><br><b>Innovatief</b>, de beste op ons gebied. <br><b>Interactief</b>, gemakkelijk en voor iedereen. <br><b>Ingenieus</b>, voor jong en oud.</p>
    </div>
    <div class="benefits-box1">
        <h1>highscore</h1>
        <p>Houd je voortgang bij met ons score systeem en blijf jezelf verbeteren.</p>
    </div>
    <div class="benefits-box2">
        <h1>multiplayer</h1>
        <p>Neem het op tegen je vrienden en familie in multiplayer en wordt een winnaar.</p>
    </div>
    <div class="benefits-box3">
        <h1>overzicht</h1>
        <p>Ben je een ouder of docent? Ook met TYPO kun je de score van je klas of kind makkelijk bijhouden.</p>
    </div>
    <div class="benefits-box4">
        <h1>1 account, 3 spellen</h1>
        <p>Met een TYPO account kun je onze spellen op elke computer spelen en neem je je voortang met je mee.</p>
    </div>
    <div class="benefits-box5">
        <h1>TYPO raceset</h1>
        <p>Wordt een échte racer met de TYPO raceset  en laat iedereen zien hoe goed jij typt.</p>
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.330293480661!2d5.479793915938489!3d51.45209192256635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d92199730073%3A0x1c98f3a0d8ee087b!2sFontys%20Hogescholen!5e0!3m2!1snl!2snl!4v1574208641587!5m2!1snl!2snl" allowfullscreen=""></iframe>
</div>

<div id="contact" class="contact-container">
    <div class="contact-line"></div>
    <div class="contact-h2">
        <h2>CONTACT</h2>
    </div>
    <div class="contact-h1">
        <h1>Neem contact met ons op.</h1>
    </div>
    <div class="contact-text">
        <p>
            Fontys Hogescholen<br>
            Rachelsmolen, 5612 MA Eindhoven<br><br>

            <a href="tel:088-508-0000">T. 088-508-0000</a><br>

            <a href="mailto:Typo@fontys.nl">Typomailservice@gmail.nl</a><br><br><br><br><br><br>
            Alle velden zijn verplicht.
        </p>
    </div>

    <form>
        <label for="name">Naam</label>
        <input type="text2" id="name" name="name" placeholder="Uw naam" required>
        <label for="email">E-mail</label>
        <input type="text2" id="email" name="email" placeholder="Uw e-mailadres" required>
        <label for="subject">Onderwerp</label>
        <input type="text2" id="subject" name="subject" placeholder="Uw onderwerp" required>
        <label for="message">Bericht</label>
        <textarea id="message" class="contact-message" name="message" placeholder="Uw bericht" style="height:200px"></textarea>
        <input type="submit2" value="Verzenden" required>
    </form>
</div>

<div class="footer">
    © 2019 TYPO
</div>