@*@model Typo.Model.Models.Account*@
<div class="page-header">
    <h1>Login <small>to get access to the website</small></h1>
</div>
<div class="container">
    <div class="row" id="test">
        <div class="col-sm-6">
            <div class="col-lg-12">
                <form method="post">
                    <div class="form-group">
                        @*@Html.LabelFor(Model => Model.username)
                        @Html.EditorFor(Model => Model.username)
                        @Html.ValidationMessageFor(Model => Model.username)*@
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(Model => Model.password)
                        @Html.EditorFor(Model => Model.password)
                        @Html.ValidationMessageFor(Model => Model.password)*@
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
                @ViewData["Message"]
            </div>
        </div>
    </div>
</div> 